<footer style="display: none;">
  <div id="icon-container-footer">
    <a href="mailto:alasaadstat@gmail.com" class="fa fa-envelope"></a>
    <a href="https://twitter.com/iamalstat" class="fa fa-twitter"></a>
    <a href="https://github.com/alstat" class="fa fa-github"></a>
    <a href="https://alstat.github.io" class="fa fa-rss"></a>
  </div>  
</footer>

<!-- <footer class="site-footer">
    
      <div class="wrapper">
    
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
    
        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>
                {% if site.author %}
                  {{ site.author | escape }}
                {% else %}
                  {{ site.title | escape }}
                {% endif %}
                </li>
                {% if site.email %}
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {% endif %}
            </ul>
          </div>
    
          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if site.github_username %}
              <li>
                {% include icon-github.html username=site.github_username %}
              </li>
              {% endif %}
    
              {% if site.twitter_username %}
              <li>
                {% include icon-twitter.html username=site.twitter_username %}
              </li>
              {% endif %}
            </ul>
          </div>
    
          <div class="footer-col footer-col-3">
            <p>{{ site.description | escape }}</p>
          </div>
        </div>
    
      </div>
    
    </footer>
     -->