<header>
    <div class="site-sidebar">
        <div class="dropdown" style="display: none;">
            <button class="dropbtn"><a class="fa fa-bars"></a></button>
            <div class="dropdown-content">
                <a id="home-button" href="/index.html">Home</a>
                <a href="/blog/index.html">Articles</a>
            </div>
        </div>
        <div id="website-name-wrapper">
            <div id="website-name">
                Learn Islam
            </div>
            <div id="website-description">
                by comparing to previous scriptures
            </div>
        </div>
        <nav>
            <img src="/assets/img1.jpeg">
            <a id="home-button" href="/index.html">H O M E</a>
            <a id="article-button" href="/blog/index.html">A R T I C L E S</a>
        </nav>
        <div id="icon-container">
            <a href="mailto:alasaadstat@gmail.com" class="fa fa-envelope"></a>
            <a href="https://twitter.com/iamalstat" class="fa fa-twitter"></a>
            <a href="https://github.com/alstat" class="fa fa-github"></a>
            <a href="https://alstat.github.io" class="fa fa-rss"></a>
        </div>
    </div>
</header>