<header>
    <div class="site-sidebar">
        <div class="dropdown" style="display: none;">
            <button class="dropbtn"><a class="fa fa-bars"></a></button>
            <div class="dropdown-content">
                <a id="home-button" href="/index.html">Home</a>
                <a href="/blog/index.html">Articles</a>
                <a href="/pages/christianity.html">Christianity</a>
            </div>
        </div>
        <div id="website-name-wrapper">
            <div id="website-name">
                <a style="color: black;" href="/index.html">Learn Islam</a>
            </div>
            <div id="website-description">
                . . . science and religion must go hand in hand
            </div>
        </div>
        <nav>
            {% comment %} <img src="/assets/img1.jpg"> {% endcomment %}
            <img src="/assets/basmalah.png" style="position: relative; z-index: -1">
            <a id="home-button" href="/index.html" style="z-index: 2; margin-top:-60px;">H O M E</a>
            <a id="article-button" href="/blog/index.html">A R T I C L E S</a>
            <!-- <a id="christianity-button" href="/pages/christianity.html">I S L A M</a> -->
            <a id="christianity-button" href="/pages/christianity.html">C H R I S T I A N I T Y</a>
            <!-- <a id="christianity-button" href="/pages/christianity.html">A N A L Y T I C S</a> -->
        </nav>
        <div id="icon-container">
            <a href="mailto:contact.learnislam@gmail.com" class="lni lni-laptop"></a>
            <a href="https://twitter.com/learn_alislam" class="lni lni-twitter"></a>
            <a href="https://www.instagram.com/learn_alislam/" class="lni lni-instagram"></a>
            {% comment %} <a href="https://github.com/learn-islam/learn-islam.github.io" class="fa fa-github"></a> {% endcomment %}
            <!-- <a href="https://alstat.github.io" class="fa fa-rss"></a> -->
        </div>
    </div>
</header>