@mixin parent($width, $height) {
    .site-parent-container {
        background-color: #ffffff;

        width: $width;
        max-width: $width;
        height: 500px;
        max-height: $height;

        margin: 100px auto;

        display: table;
        
        box-shadow: 0px 0 150px 5px #575757;
        border-radius: 15px;
    }
}