@mixin parent($width, $height) {
    .site-parent-container {
        background-color: #ffffff00;

        // width: 0px;
        // max-width: 0px;
        height: 1px;
        max-height: $height;

        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;

        display: table;

        footer {
            display: none;
        }
    }
}