@mixin site-sidebar ($width) {
    .site-sidebar {
        width: $width;
        float: left;
    
        nav {
            width: $width;
            a {
                display: block;
            }
        }
    }
}