@mixin site-sidebar ($width) {
    header {
        background-color: rgb(234, 234, 234);
        float: left;
        display: table;
        
        height: 100%;
        max-height: 100%;
        width: $width;
        max-width: $width * 2;

        border-radius: 15px 0 0 15px;
        
        img {
            width: $width;
            border-radius: 15px 0 0 0;
        }

        .site-sidebar {     
            // padding: 20px;
            nav {
                margin: -8px auto;
                a {
                    background-color: rgb(240, 240, 240);
                    border-bottom: 1px solid rgb(221, 221, 221);
                    color: $desert-color;

                    float: center;
                    display: block;

                    font-family: 'Montserrat', sans-serif;
                    font-size: 11px;
                    text-decoration: none;    
                    
                    text-align: center;
                    padding: 10px 0px;
                    // margin: 10px auto;  
                    transition-delay: 0s;
                    transition-duration: 0.3s;
                    transition-property: all;
                    transition-timing-function: ease-in-out;
                }

                a:hover {
                    background-color: $desert-color; //#3B444B;
                    color: #fff;
                    border-bottom: 1px solid $desert-color; //#3B444B;
                }
            }
            div#icon-container {
                text-align: center;
                // background-color: $bottom-bg-color;
                padding: 28px;
                border-radius: 0 0 20px 20px;
                a.fa {
                    padding: 10px;
                    margin: 0 10px;
                    width: 16px;
                    // height: 30px;
                    background-color: $desert-color;
                    border-radius: 50%;
                    color: #fff;
                    text-decoration: none;
                    transition: all .3s ease-in-out;
                }
                a.fa:hover {
                    background-color: $desert-light-color;
                    color: #000000;
                }
            }
        }
    }
}