--- 
layout: default 
---

<div class="home">
  <span class="web-title" style="margin: 0 50px 50px 50px;">List of Articles</span>
  {{ content }}

  <!-- This loops through the paginated posts -->
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <span>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      {% assign start = "<!-- excerpt.start -->" %}  
      {% assign end   = "<!-- excerpt.end -->" %}  
      
      {% if post.content contains start and post.content contains end %}
          {% assign first_split = post.content | split: start | last %}
          {% assign second_split = first_split | split: end | first %}
          {{ second_split | strip_html | truncatewords: 100 }}
        {% else %}
          {{ post.content | strip_html | truncatewords: 100 }}
        {% endif %}
      </span>
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <button class="previous">Previous</button>
    {% endif %}
    
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <button class="next">Next</button>
    {% endif %}
  </div>
  <div class="rss-subscribe">subscribe
    <a href="{{ "feed.xml" | relative_url }}">via RSS</a>
  </div>  
  
</div>