---
layout: default
---
<article class="post">
    <!-- <div class="title-header">
        <div class="path parents">
            <a class="ptext" href="/index.html">{{page.parent}}</a>
        </div>

        {% if page.parent1 %}
            <div class="path parents">
                <a class="ptext" href="{{ page.url }}">{{page.parent1}}</a>
            </div>
        {% endif %}

        <div class="path children">
            <a class="ctext" href="/pages/christianity.html">{{page.title}}</a>
        </div>
    </div> -->
    <!-- <span class="path" id="list-of-articles" style="margin: 0 50px 50px 50px;">
        {{page.parent}}/{{page.title}}
    </span> -->
    <!-- <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    </header> -->

    <div class="post-content">
        {{ content }}
    </div>
    <!-- {% include disqus_comments.html %} -->
</article>